---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HoverLink from '../../components/global/HoverLink.astro';
const { frontmatter } = Astro.props;

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

---

<BaseLayout>
  <div class="writing-layout">
    <header>
      <h1>{post.data.title}</h1>
      <p>{post.data.description}</p>
    </header>
    <ul class="tags">
      { post.data.tags.map((tag) => (
      <li><HoverLink href={`/tags/${tag}`} title={tag} /></li>
      )) }
    </ul>
    <section class="metrics">
      <p class="published-at">
        <span> Published: </span>
        <time datetime="{post.data.publishedAt}">
          {post.data.publishedAt.toString().slice(0, -42)}
        </time>
      </p>
      <p class="updated-at">
        <span>Updated: </span>
        <time datetime="{post.data.updatedAt}">
          {post.data.publishedAt.toString().slice(0, -42)}
        </time>
      </p>
    </section>
    <div class="content">
      <Content />
    </div>
    <section class="source-section">
      <p>Sources</p>
      <ul>
        { post.data.sources.map((source) => (
        <li>
          <a href={source.split(' ')[1]} target='_blank'>
            {source.split(' ')[0]}
          </a>
        </li>
        )) }
      </ul>
    </section>
  </div>
</BaseLayout>

<style>
  .writing-layout {
    & header {
      margin: 0 0 0.25rem;

      & h1 {
        font-family: var(--sans-font);
      }

      & p {
        color: var(--primary-light-750);

        font-family: var(--sans-font);
        font-size: var(--base-font);
        font-weight: 600;
      }
    }
    & .tags {
      margin: 0 0 2.5rem;
      padding: 0.75rem 0 0;

      display: flex;
      flex-flow: row wrap;

      & li {
        line-height: 2.5;
      }

      & li:not(:last-child) {
        margin: 0 0.85rem 0 0;
      }

      & li > a:active {
        position: relative;
        top: 0.075rem;
      }
    }
    & .metrics {
      margin: 0 0 2.5rem;

      display: flex;
      flex-flow: column nowrap;

      border-left: 2px solid var(--primary-light-750);

      & p {
        padding: 0 0 0 1rem;

        & > span {
          width: 7.5rem;

          display: inline-block;
        }

        & > :last-child {
          font-family: Monaco, 'Courier New', Courier;
          font-size: 0.8rem;
          font-weight: 600;

          color: var(--primary-light-750);
        }
      }
    }
    .source-section {
      margin: 2.5rem 0 0;

      & p {
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      & ul > li:hover {
        text-decoration: underline;
      }
    }
  }
</style>
