---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HoverLink from '../../components/global/HoverLink.astro';
const { frontmatter } = Astro.props;

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const edition = () => {
  if (post.data.edition < 10) {
    return `00${post.data.edition}`;
  } else if (post.data.edition < 100) {
    return `0${post.data.edition}`;
  } else {
    return post.data.edition;
  }
};
---

<BaseLayout>
  <div class='writing-layout'>
    <header>
      <h1>{post.data.title}</h1>
      <p>{post.data.description}</p>
    </header>
    <div class='metrics'>
      <p>
        {edition}
      </p>
      <span>|</span>
      <time datetime={post.data.createdAt}>
        {post.data.createdAt.toString().slice(0, -42)}
      </time>
    </div>
    <ul class='tags'>
      {
        post.data.tags.map((tag) => (
          <li>
            <HoverLink href='/' title={tag} />
          </li>
        ))
      }
    </ul>
    <div class='content'>
      <Content />
    </div>
  </div>
</BaseLayout>

<style>
  .writing-layout {
    & header {
      margin: 0 0 0.25rem;

      & h1 {
        font-family: var(--sans-font);
      }

      & p {
        color: var(--primary-light-750);

        font-family: var(--sans-font);
        font-size: var(--base-font);
        font-weight: 600;
      }
    }
    & .metrics {
      display: flex;
      align-items: baseline;

      & > * {
        font-family: Monaco, 'Courier New', Courier;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.045rem;

        color: var(--primary-light-750);

        white-space: nowrap;
      }
      & > span {
        padding: 0 0.5rem;
      }
      & > p:last-of-type {
        letter-spacing: normal;
      }
    }
    & .tags {
      margin: 0 0 5rem;
      padding: 0.75rem 0 0;

      display: flex;
      flex-flow: row wrap;

      & li {
        line-height: 2.5;
      }

      & li:not(:last-child) {
        margin: 0 0.85rem 0 0;
      }

      & li > a:active {
        position: relative;
        top: 0.075rem;
      }
    }
  }
</style>
