---
import BaseLayout from '../layouts/BaseLayout.astro';
import CodepenList from '../components/Codepen/List.astro';
import GithubList from '../components/GithubList.astro';
import Header from '../components/Header.astro';
import ProjectCard from '../components/WorkCard.astro';
---

<!-- import { Octokit } from 'octokit';

const octokit = new Octokit(); --><!-- const { data } = await octokit.request('GET /users/{username}/repos', {
  username: `permalik`,
  sort: `created`
}); -->
<BaseLayout>
  <Header header='Work' />
  <section>
    <GithubList />
    <CodepenList />
    <!-- <div class='codepen-wrapper'>
      <p
        class='codepen'
        data-height='400'
        data-theme-id='dark'
        data-slug-hash='jOQMOdO'
        data-user='permalik'
        style='height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;'
      >
        <span
          >See the Pen <a href='https://codepen.io/permalik/pen/jOQMOdO'>
            001-100_days_css</a
          > by permalik (<a href='https://codepen.io/permalik'>@permalik</a>) on <a
            href='https://codepen.io'>CodePen</a
          >.</span
        >
      </p>
    </div> -->
  </section>
</BaseLayout>

<script async src='https://cpwebassets.codepen.io/assets/embed/ei.js'>
  const viewAll = document.querySelector('[view-all]');
  const arrowRight = document.querySelector('[arrow-right]');

  viewAll.addEventListener('mouseover', () => {
    arrowRight.classList.add('viewAllAnimation');
  });
  viewAll.addEventListener('mouseout', () => {
    arrowRight.classList.remove('viewAllAnimation');
  });
</script>

<style>
  section {
    position: relative;

    padding: 2.5rem 0;

    & > .view-all {
      position: absolute;
      right: 0;
      bottom: 0;

      padding: 0.25rem 0.5rem;
      margin: 0;
      border: none;
      border-radius: 0.5rem;

      display: inline-block;

      background: transparent;
      color: var(--base-light);

      font-family: sans-serif;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      text-decoration: none;

      transition: background 250ms ease-in-out, transform 150ms ease;

      cursor: pointer;

      -webkit-appearance: none;
      -moz-appearance: none;
    }

    & > .view-all:hover,
    .view-all:focus {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
    }

    & > .view-all:focus {
      outline: 1px solid #fff;
      outline-offset: -4px;
    }

    & > .view-all:active {
      transform: scale(0.99);
    }

    .viewAllAnimation {
      position: relative;
      left: 0.2rem;
    }
  }

  .codepen-wrapper {
    width: 400px;
  }

  .the-body {
    & nav {
      display: none;
    }
  }
</style>

<!-- TODO: -->

<!-- <img src='/codepen.svg' alt='Codepen icon' /> -->
<!-- <nav>
            <img src='/code.svg' alt='Code icon' />
            <img src='/site.svg' alt='External link icon' />
          </nav> -->

<!-- Add tags to the dedicated github page -->
<!-- <!-- <ul>
          <li>
            <a href='/'> javascript</a>
          </li>
          <li>
            <a href='/'> css</a>
          </li>
          <li>
            <a href='/'> html</a>
          </li>
        </ul> -->

<!-- {
          data.map((repo) => (
            <ProjectCard
              name={repo.name}
              description={repo.description}
              html_url={repo.html_url}
              topics={repo.topics} />
            <li class='hover:bg-stone-700/10'>
              <a href={repo.html_url}>
                <p class='font-sans font-medium capitalize'>
                  {repo.name.split('-').join(' ')}
                  <span class='tracking-wide text-teal-300 uppercase'>
                    •{' '}
                    {repo.description
                      .split(':')
                      .map((k) => k)
                      .slice(0, -1)}
                  </span>
                </p>
                <p>
                  {repo.description
                    .split(`:`)
                    .map((e) => e)
                    .slice(1)}
                </p>
              </a>
              <ul class='flex space-x-2'>
                {repo.topics.map((topic) => (
                  <a href=`/projects/${topic}`>
                    <li class='tracking-wide text-teal-300/80 hover:text-teal-300'>
                      #{topic}
                    </li>
                  </a>
                ))}
              </ul>
            </li>
          ))
        } -->
