---
import "../styles/global.scss";
import Header from "../components/global/Header.astro";

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://tymalik.me/" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="/tymalik.png" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐦‍🔥</text></svg>"
        />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
    </body>
</html>

<style lang="scss">
    body {
        position: relative;
        min-height: 100vh;
        padding: 0 0 10rem 0;
        background-color: var(--primary-dark);
    }
    main {
        max-width: 50rem;
        margin: 0 auto;
        padding: 1rem clamp(1.25rem, 3vw, 2rem);
    }
</style>
