---
import '../styles/global.scss';
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title: string;
}

const { frontmatter } = Astro.props;

const edition = () => {
  if (frontmatter.edition < 10) {
    return `00${frontmatter.edition}`;
  } else if (frontmatter.edition < 100) {
    return `0${frontmatter.edition}`;
  } else {
    return frontmatter.edition;
  }
};
---

<BaseLayout>
  <div class='writing-layout'>
    <h1>{frontmatter.title}</h1>
    <p class='description'>{frontmatter.description}</p>
    <div class='metrics'>
      <p>
        No. {edition}
      </p>
      <time datetime={frontmatter.createdAt.slice(0, 10)}>
        {frontmatter.createdAt.slice(0, 10).split('-').join('.')}
      </time>
      <p>
        {frontmatter.author}
      </p>
    </div>
    <slot />
  </div>
</BaseLayout>

<style>
  .description {
    font-family: var(--sans-font);
    font-size: clamp(0.75rem, 5vw, 0.9rem);
    font-weight: 500;
  }
</style>
