---
import BaseLayout from '../../layouts/BaseLayout.astro';

export interface Props {
  title: string;
}

const { frontmatter } = Astro.props;

const edition = () => {
  if (frontmatter.edition < 10) {
    return `00${frontmatter.edition}`;
  } else if (frontmatter.edition < 100) {
    return `0${frontmatter.edition}`;
  } else {
    return frontmatter.edition;
  }
};
---

<BaseLayout>
  <div class='writing-layout'>
    <header>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>
    </header>
    <div class='metrics'>
      <p>
        {edition}
      </p>
      <span>|</span>
      <time datetime={frontmatter.createdAt.slice(0, 10)}>
        {frontmatter.createdAt.slice(0, 10).split('-').join('.')}
      </time>
    </div>
    <ul class='tags'>
      {
        frontmatter.tags.map((tag) => (
          <li>
            <a href='/'>{tag}</a>
          </li>
        ))
      }
    </ul>
    <div class='content'>
      <slot />
    </div>
  </div>
</BaseLayout>

<style>
  .writing-layout {
    & header {
      margin: 0 0 0.25rem;

      & h1 {
        font-family: var(--sans-font);
      }

      & p {
        color: var(--primary-light-750);

        font-family: var(--sans-font);
        font-size: var(--base-font);
        font-weight: 600;
      }
    }
    & .metrics {
      display: flex;
      align-items: baseline;

      & > * {
        font-family: Monaco, 'Courier New', Courier;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.045rem;

        color: var(--primary-light-750);

        white-space: nowrap;
      }
      & > span {
        padding: 0 0.5rem;
      }
      & > p:last-of-type {
        letter-spacing: normal;
      }
    }
    & .tags {
      margin: 0 0 5rem;
      padding: 0.75rem 0 0;

      display: flex;
      flex-flow: row wrap;

      & li {
        display: flex;
        justify-content: center;

        line-height: 2.5;
      }

      & li:not(:last-child) {
        margin: 0 0.85rem 0 0;
      }

      & li > a {
        display: inline;

        font-family: var(--sans-font);
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;

        color: var(--tertiary-accent-750);

        white-space: nowrap;
      }

      & li > a:hover {
        color: var(--tertiary-accent);
      }

      & li > a:active {
        position: relative;
        top: 0.075rem;
      }
    }
  }
</style>
